page-login {
	img {
		height: 100%;
		margin: 65px auto;
		width: 80%;
	}
	.login {
		.forgetpassword {
			color: color($colors, light);
			font-size: 18px;
			padding: 2px 15px;
		}
	}
	.register {
		margin: 16% auto !important;
		color: color($colors, light);
		text-align: center;
		font-size: 20px;
		font-weight: 200;
	}
	button {
		background-image: linear-gradient(to bottom, #e8c451, #d48416);
	}
}