page-companyprofile {
  .testing-map {
    width: 100%;
    height: 168px;
    background-size: contain;
  }
  
  .block1_01 {
    display: flex;
    padding: 30px 0 0 17px;
    .content_01 {
      display: flex;
      margin-left: 23px;
    }
    .avatar_div {
      background-image: url("../../assets/imgs/profile-bg.png");
      background-size: contain;
      background-repeat: no-repeat;
      padding: 10px;
      display: flex;
      .avatar_img_01 {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        max-width: unset;
      }
    }
  }
  .content_01 {
    flex-wrap: wrap;
    .follow_btn_01 {
      background-color: #eca731;
      border-radius: 3px;
      color: white;
      padding: 7px 26px;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 700;
      margin-top: 12px;
    }
  }
  .content_01 .follow_01 {
    text-align: center;
    padding-right: 10px;
    h2 {
      font-weight: bolder;
      font-size: 20px;
      margin-top: 0;
      color: white;
      font-family: sans-serif !important;
    }
    p {
      font-size: 16px;
      color: #d2d1d0;
      font-family: sans-serif !important;
      margin-top: 8px;
    }
  }
  .content_01 .msg_div_01 {
    margin-left: 18px;
    text-align: center;
    img {
      width: 32px;
      height: 32px;
    }
    p {
      margin: 0;
      margin-top: -8px;
      font-size: 12px;
      font-family: sans-serif !important;
      font-weight: 600;
    }
  }
  .main-content{
    padding: 10px;
    font-size: 16px;
    a{
      text-decoration: none;
      font-size: 16px;
    }
    .delivery{
      display: flex;
      flex-wrap: wrap;
      p{
        margin-bottom: 7px;
        font-size: 15px;
        font-family: sans-serif;
        font-weight: 600;
      }
      img{
        width: 30px;
        object-fit: contain;
        margin-right: 5px;
        max-height: 40px;
      }
      .delivery_content{
        display: flex;
      }
      .open-select{
        display: flex;
        color: #96E72C;
        margin-left: 10px;
        p{
          font-size: 26px;
          margin: 0;
          // margin-top: 3px;
        }
      }
    }
    h4{
      margin-bottom: 0;
    }
    .phone{
      display: flex;
      margin-top: 20px;
      align-items: center;
      img{
        width: 15px;
        margin-right: 5px;
      }
      p{
        margin: 0;
      }
      .number{
        margin: 0 15vw 0 24vw;
        font-size: 18px;
      }
      i{
        font-size: 24px;
      }
    }
    .company-profile-details{
      margin: 40px 0 20px 0;
    }
    .controll_div{
      display: flex;
      justify-content: space-evenly;
      // align-items: baseline;
      .menuicon_img{
        max-width: 33px;
        height: auto !important;
        margin-bottom: -5px;
        margin-top: -2px;
      }
      .couponicon_img{
        max-width: 53px;
        height: auto !important;
        margin-bottom: -7px;
        margin-top: -7px;
      }
      i{
        font-size: 45px;
        color: #ECA731;
      }
      p{
        margin: 0;
      }
      div{
        text-align: center;
        font-size: 24px;
        width: 25%;
        position: relative;
        .fa-comment-o{
          margin-top: -2px;
        }
      }
    }
  }
  .main-img{
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2vw;
    a{
      width: 31vw;
      height: 31vw;
      margin: 5px 0;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  .truncate{
    margin-bottom: 20px;
  }
  .truncate-text p{
    display: inline;
  }
  .footer_01 {
    width: 100%;
    height: 421px;
    background-image: url("../../assets/imgs/footer_bg.png");
    background-repeat: repeat-x;
    text-align: center;
    h2 {
      color: #fff;
      font-size: 30px;
      padding-top: 60px;
    }
    h2 span {
      color: #333;
    }
    .social_01 {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      a{
        display: block;
      }
    }
    .social_01 img {
      // margin-top: 10px;
    }
    .social_01 i {
      color: white;
      text-align: center;
      font-size: 60px;
      margin-top: -2px;
    }
    .footer_menu_01 {
      margin-top: 130px;
    }
    .footer_menu_01 a {
      color: #fff;
      text-decoration: none;
      padding-right: 5px;
      font-size: 11px;
    }

    .footer_menu_01 span {
      color: black;
      padding-right: 5px;
      font-size: 11px;
    }
    .footer_copyright_01 {
      color: #fcd640;
      font-size: 11px;
      margin-top: 32px;
    }
  }
}
