<ion-header>
    <portal-header></portal-header>
</ion-header>
<ion-footer>
    <portal-footer></portal-footer>
</ion-footer>
<ion-content class="menu-items">
    <div class="title-white" ion-fixed>
        <span><ion-icon name="close" (click)="back()" class="back_icon"></ion-icon></span>
        <p>Edit Profile</p>
        <span><ion-icon name="checkmark" class="check_icon"></ion-icon></span>
    </div>
    <form action="" class="input_form">
        <div class="avatar-upload">
            <div class="avatar-edit">
                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                <label for="imageUpload"></label>
            </div>
            <div class="avatar-preview">
                <div id="imagePreview" style="background-image: url(../../assets/imgs/main_avatar.png);">
                </div>
            </div>
        </div>
        <p class="photo_title">Change Profile Photo</p>

        <div class="store_type">
            <label for="PortalStoreTypeId">Company Type</label>
            <select name="store_type" id="PortalStoreTypeId">
                <option value="1">Storefront</option>
                <option value="2" selected="selected">Storefront + Delivery</option>
                <option value="3">Delivery</option>
            </select>
        </div>
        <ion-list>
            <ion-item>
                <ion-label floating>Company Name</ion-label>
                <ion-input type="text" value="" name="c_name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Company Username</ion-label>
                <ion-input type="password" value="" name="user_name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Company Phone #</ion-label>
                <ion-input type="text" value=""></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Company Address</ion-label>
                <ion-input type="text" value=""></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Suite #</ion-label>
                <ion-input type="text" value=""></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Facebook Url</ion-label>
                <ion-input type="text" value=""></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Twitter Url</ion-label>
                <ion-input type="text" value=""></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Instagram Url</ion-label>
                <ion-input type="text" value=""></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Youtube Url</ion-label>
                <ion-input type="text" value=""></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="text" value=""></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Company Description</ion-label>
                <ion-textarea rows="3"></ion-textarea>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Do you sell Recreational Marijuana?</ion-label>
                <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Are Credit Cards Accepted</ion-label>
                <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>18+ Allowed</ion-label>
                <ion-checkbox></ion-checkbox>
            </ion-item>
        </ion-list>
        <!-- old upload part -->
        <!-- company hours -->
        <p class="company_title">Company Hours:</p>
        <ion-list no-lines class="company_hours">
            <div>
                <p class="title">Monday</p>
                <div class="checkbox_item ion-no-padding">
                    <input type="checkbox" class="radio_checkbox ch1" id="ch-1">
                    <label for="ch-1">Open 24 Hours</label>
                </div>
                <div class="checkbox_item radio_checkbox">
                    <input type="checkbox" class="radio_checkbox ch-1" id="ch1">
                    <label for="ch1">Closed</label>
                </div>
                <div class="time_div">
                    <div class="input time">
                        <label for="PortalMonOpeningTimeHour">Open &nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <select name="data[Portal][mon_opening_time][hour]" id="PortalMonOpeningTimeHour">
                            <option value="01" selected="selected">1</option>
                            <option value="{{h.hour}}" *ngFor="let h of hours">{{h.hour}}</option>

                        </select> :
                        <select name="data[Portal][mon_opening_time][min]" id="PortalMonOpeningTimeMin">
                            <option value="00" selected="selected">00</option>
                            <option value="{{ms}}" *ngFor="let ms of mins">{{ms}}</option>

                        </select>
                        <select name="data[Portal][mon_opening_time][meridian]" id="PortalMonOpeningTimeMeridian">
                            <option value="am" selected="selected">am</option>
                            <option value="pm">pm</option>
                        </select>
                    </div>
                    <br>
                    <div class="input time">
                        <label for="PortalMonClosingTimeHour">Closed &nbsp;</label>
                        <select name="data[Portal][mon_closing_time][hour]" id="PortalMonClosingTimeHour">
                            <option value="01" selected="selected">1</option>
                            <option value="{{h.hour}}" *ngFor="let h of hours">{{h.hour}}</option>
                        </select> :
                        <select name="data[Portal][mon_closing_time][min]" id="PortalMonClosingTimeMin">
                            <option value="00" selected="selected">00</option>
                            <option value="{{ms}}" *ngFor="let ms of mins">{{ms}}</option>
                        </select>
                        <select name="data[Portal][mon_closing_time][meridian]" id="PortalMonClosingTimeMeridian">
                            <option value="am">am</option>
                            <option value="pm" selected="selected">pm</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <p class="title">Tuesday</p>
                <div class="checkbox_item ion-no-padding">
                    <input type="checkbox" class="radio_checkbox ch2" id="ch-2">
                    <label for="ch-2">Open 24 Hours</label>
                </div>
                <div class="checkbox_item radio_checkbox">
                    <input type="checkbox" class="radio_checkbox ch-2" id="ch2">
                    <label for="ch2">Closed</label>
                </div>
                <!-- <div class="checkbox_item ion-no-padding">
                    <ion-checkbox class="radio_checkbox"></ion-checkbox>
                    <ion-label>Open 24 Hours</ion-label>
                </div>
                <div class="checkbox_item radio_checkbox">
                    <ion-checkbox class="radio_checkbox"></ion-checkbox>
                    <ion-label>Closed</ion-label>
                </div> -->
                <div class="time_div">
                    <div class="input time">
                        <label for="PortalMonOpeningTimeHour">Open &nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <select name="data[Portal][mon_opening_time][hour]" id="PortalMonOpeningTimeHour">
                            <option value="01" selected="selected">1</option>
                            <option value="{{h.hour}}" *ngFor="let h of hours">{{h.hour}}</option>

                        </select> :
                        <select name="data[Portal][mon_opening_time][min]" id="PortalMonOpeningTimeMin">
                            <option value="00" selected="selected">00</option>
                            <option value="{{ms}}" *ngFor="let ms of mins">{{ms}}</option>

                        </select>
                        <select name="data[Portal][mon_opening_time][meridian]" id="PortalMonOpeningTimeMeridian">
                            <option value="am" selected="selected">am</option>
                            <option value="pm">pm</option>
                        </select>
                    </div>
                    <br>
                    <div class="input time">
                        <label for="PortalMonClosingTimeHour">Closed &nbsp;</label>
                        <select name="data[Portal][mon_closing_time][hour]" id="PortalMonClosingTimeHour">
                            <option value="01" selected="selected">1</option>
                            <option value="{{h.hour}}" *ngFor="let h of hours">{{h.hour}}</option>
                        </select> :
                        <select name="data[Portal][mon_closing_time][min]" id="PortalMonClosingTimeMin">
                            <option value="00" selected="selected">00</option>
                            <option value="{{ms}}" *ngFor="let ms of mins">{{ms}}</option>
                        </select>
                        <select name="data[Portal][mon_closing_time][meridian]" id="PortalMonClosingTimeMeridian">
                            <option value="am">am</option>
                            <option value="pm" selected="selected">pm</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <p class="title">Wednsday</p>
                <div class="checkbox_item ion-no-padding">
                    <input type="checkbox" class="radio_checkbox ch3" id="ch-3">
                    <label for="ch-3">Open 24 Hours</label>
                </div>
                <div class="checkbox_item radio_checkbox">
                    <input type="checkbox" class="radio_checkbox ch-3" id="ch3">
                    <label for="ch3">Closed</label>
                </div>
                <div class="time_div">
                    <div class="input time">
                        <label for="PortalMonOpeningTimeHour">Open &nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <select name="data[Portal][mon_opening_time][hour]" id="PortalMonOpeningTimeHour">
                            <option value="01" selected="selected">1</option>
                            <option value="{{h.hour}}" *ngFor="let h of hours">{{h.hour}}</option>

                        </select> :
                        <select name="data[Portal][mon_opening_time][min]" id="PortalMonOpeningTimeMin">
                            <option value="00" selected="selected">00</option>
                            <option value="{{ms}}" *ngFor="let ms of mins">{{ms}}</option>

                        </select>
                        <select name="data[Portal][mon_opening_time][meridian]" id="PortalMonOpeningTimeMeridian">
                            <option value="am" selected="selected">am</option>
                            <option value="pm">pm</option>
                        </select>
                    </div>
                    <br>
                    <div class="input time">
                        <label for="PortalMonClosingTimeHour">Closed &nbsp;</label>
                        <select name="data[Portal][mon_closing_time][hour]" id="PortalMonClosingTimeHour">
                            <option value="01" selected="selected">1</option>
                            <option value="{{h.hour}}" *ngFor="let h of hours">{{h.hour}}</option>
                        </select> :
                        <select name="data[Portal][mon_closing_time][min]" id="PortalMonClosingTimeMin">
                            <option value="00" selected="selected">00</option>
                            <option value="{{ms}}" *ngFor="let ms of mins">{{ms}}</option>
                        </select>
                        <select name="data[Portal][mon_closing_time][meridian]" id="PortalMonClosingTimeMeridian">
                            <option value="am">am</option>
                            <option value="pm" selected="selected">pm</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <p class="title">Thursday</p>
                <div class="checkbox_item ion-no-padding">
                    <input type="checkbox" class="radio_checkbox ch4" id="ch-4">
                    <label for="ch-4">Open 24 Hours</label>
                </div>
                <div class="checkbox_item radio_checkbox">
                    <input type="checkbox" class="radio_checkbox ch-4" id="ch4">
                    <label for="ch4">Closed</label>
                </div>
                <div class="time_div">
                    <div class="input time">
                        <label for="PortalMonOpeningTimeHour">Open &nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <select name="data[Portal][mon_opening_time][hour]" id="PortalMonOpeningTimeHour">
                            <option value="01" selected="selected">1</option>
                            <option value="{{h.hour}}" *ngFor="let h of hours">{{h.hour}}</option>

                        </select> :
                        <select name="data[Portal][mon_opening_time][min]" id="PortalMonOpeningTimeMin">
                            <option value="00" selected="selected">00</option>
                            <option value="{{ms}}" *ngFor="let ms of mins">{{ms}}</option>

                        </select>
                        <select name="data[Portal][mon_opening_time][meridian]" id="PortalMonOpeningTimeMeridian">
                            <option value="am" selected="selected">am</option>
                            <option value="pm">pm</option>
                        </select>
                    </div>
                    <br>
                    <div class="input time">
                        <label for="PortalMonClosingTimeHour">Closed &nbsp;</label>
                        <select name="data[Portal][mon_closing_time][hour]" id="PortalMonClosingTimeHour">
                            <option value="01" selected="selected">1</option>
                            <option value="{{h.hour}}" *ngFor="let h of hours">{{h.hour}}</option>
                        </select> :
                        <select name="data[Portal][mon_closing_time][min]" id="PortalMonClosingTimeMin">
                            <option value="00" selected="selected">00</option>
                            <option value="{{ms}}" *ngFor="let ms of mins">{{ms}}</option>
                        </select>
                        <select name="data[Portal][mon_closing_time][meridian]" id="PortalMonClosingTimeMeridian">
                            <option value="am">am</option>
                            <option value="pm" selected="selected">pm</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <p class="title">Friday</p>
                <div class="checkbox_item ion-no-padding">
                    <input type="checkbox" class="radio_checkbox ch5" id="ch-5">
                    <label for="ch-5">Open 24 Hours</label>
                </div>
                <div class="checkbox_item radio_checkbox">
                    <input type="checkbox" class="radio_checkbox ch-5" id="ch5">
                    <label for="ch5">Closed</label>
                </div>
                <div class="time_div">
                    <div class="input time">
                        <label for="PortalMonOpeningTimeHour">Open &nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <select name="data[Portal][mon_opening_time][hour]" id="PortalMonOpeningTimeHour">
                            <option value="01" selected="selected">1</option>
                            <option value="{{h.hour}}" *ngFor="let h of hours">{{h.hour}}</option>

                        </select> :
                        <select name="data[Portal][mon_opening_time][min]" id="PortalMonOpeningTimeMin">
                            <option value="00" selected="selected">00</option>
                            <option value="{{ms}}" *ngFor="let ms of mins">{{ms}}</option>

                        </select>
                        <select name="data[Portal][mon_opening_time][meridian]" id="PortalMonOpeningTimeMeridian">
                            <option value="am" selected="selected">am</option>
                            <option value="pm">pm</option>
                        </select>
                    </div>
                    <br>
                    <div class="input time">
                        <label for="PortalMonClosingTimeHour">Closed &nbsp;</label>
                        <select name="data[Portal][mon_closing_time][hour]" id="PortalMonClosingTimeHour">
                            <option value="01" selected="selected">1</option>
                            <option value="{{h.hour}}" *ngFor="let h of hours">{{h.hour}}</option>
                        </select> :
                        <select name="data[Portal][mon_closing_time][min]" id="PortalMonClosingTimeMin">
                            <option value="00" selected="selected">00</option>
                            <option value="{{ms}}" *ngFor="let ms of mins">{{ms}}</option>
                        </select>
                        <select name="data[Portal][mon_closing_time][meridian]" id="PortalMonClosingTimeMeridian">
                            <option value="am">am</option>
                            <option value="pm" selected="selected">pm</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <p class="title">Saturday</p>
                <div class="checkbox_item ion-no-padding">
                    <input type="checkbox" class="radio_checkbox ch6" id="ch-6">
                    <label for="ch-6">Open 24 Hours</label>
                </div>
                <div class="checkbox_item radio_checkbox">
                    <input type="checkbox" class="radio_checkbox ch-6" id="ch6">
                    <label for="ch6">Closed</label>
                </div>
                <div class="time_div">
                    <div class="input time">
                        <label for="PortalMonOpeningTimeHour">Open &nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <select name="data[Portal][mon_opening_time][hour]" id="PortalMonOpeningTimeHour">
                            <option value="01" selected="selected">1</option>
                            <option value="{{h.hour}}" *ngFor="let h of hours">{{h.hour}}</option>

                        </select> :
                        <select name="data[Portal][mon_opening_time][min]" id="PortalMonOpeningTimeMin">
                            <option value="00" selected="selected">00</option>
                            <option value="{{ms}}" *ngFor="let ms of mins">{{ms}}</option>

                        </select>
                        <select name="data[Portal][mon_opening_time][meridian]" id="PortalMonOpeningTimeMeridian">
                            <option value="am" selected="selected">am</option>
                            <option value="pm">pm</option>
                        </select>
                    </div>
                    <br>
                    <div class="input time">
                        <label for="PortalMonClosingTimeHour">Closed &nbsp;</label>
                        <select name="data[Portal][mon_closing_time][hour]" id="PortalMonClosingTimeHour">
                            <option value="01" selected="selected">1</option>
                            <option value="{{h.hour}}" *ngFor="let h of hours">{{h.hour}}</option>
                        </select> :
                        <select name="data[Portal][mon_closing_time][min]" id="PortalMonClosingTimeMin">
                            <option value="00" selected="selected">00</option>
                            <option value="{{ms}}" *ngFor="let ms of mins">{{ms}}</option>
                        </select>
                        <select name="data[Portal][mon_closing_time][meridian]" id="PortalMonClosingTimeMeridian">
                            <option value="am">am</option>
                            <option value="pm" selected="selected">pm</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <p class="title">Sunday</p>
                <div class="checkbox_item ion-no-padding">
                    <input type="checkbox" class="radio_checkbox ch7" id="ch-7">
                    <label for="ch-7">Open 24 Hours</label>
                </div>
                <div class="checkbox_item radio_checkbox">
                    <input type="checkbox" class="radio_checkbox ch-7" id="ch7">
                    <label for="ch7">Closed</label>
                </div>
                <div class="time_div">
                    <div class="input time">
                        <label for="PortalMonOpeningTimeHour">Open &nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <select name="data[Portal][mon_opening_time][hour]" id="PortalMonOpeningTimeHour">
                            <option value="01" selected="selected">1</option>
                            <option value="{{h.hour}}" *ngFor="let h of hours">{{h.hour}}</option>

                        </select> :
                        <select name="data[Portal][mon_opening_time][min]" id="PortalMonOpeningTimeMin">
                            <option value="00" selected="selected">00</option>
                            <option value="{{ms}}" *ngFor="let ms of mins">{{ms}}</option>

                        </select>
                        <select name="data[Portal][mon_opening_time][meridian]" id="PortalMonOpeningTimeMeridian">
                            <option value="am" selected="selected">am</option>
                            <option value="pm">pm</option>
                        </select>
                    </div>
                    <br>
                    <div class="input time">
                        <label for="PortalMonClosingTimeHour">Closed &nbsp;</label>
                        <select name="data[Portal][mon_closing_time][hour]" id="PortalMonClosingTimeHour">
                            <option value="01" selected="selected">1</option>
                            <option value="{{h.hour}}" *ngFor="let h of hours">{{h.hour}}</option>
                        </select> :
                        <select name="data[Portal][mon_closing_time][min]" id="PortalMonClosingTimeMin">
                            <option value="00" selected="selected">00</option>
                            <option value="{{ms}}" *ngFor="let ms of mins">{{ms}}</option>
                        </select>
                        <select name="data[Portal][mon_closing_time][meridian]" id="PortalMonClosingTimeMeridian">
                            <option value="am">am</option>
                            <option value="pm" selected="selected">pm</option>
                        </select>
                    </div>
                </div>
            </div>
        </ion-list>


        <div padding>
            <button ion-button block class="save_btn">Save</button>
        </div>
    </form>
</ion-content>