follower-modal {
     .modal_content_01{ 
          background: #000;
          p{
               color: white; 
               font-size: 17px;
          }
          button{
               background-color: #eca731;
               border-radius: 3px;
               color: white;
               padding: 7px 24px !important;
               font-family: sans-serif;
               font-weight: 700;
               margin-top: 12px;
               text-transform: unset;
          }
          .scroll-content{
               margin-top: 179px !important;
          }
          .item-md ion-avatar ion-img, 
          .item-md ion-avatar img{
               width: 50px;
               height: 50px;
          }
          .unfollow_02{
               width: 30px;
          }
     }

     .modal_title_01{
          span{
               margin: -1px 0 0 15px;
               display: block;
          }
          .toolbar-title{
               color: black !important;
               display: flex;
          }
     }

     .custom_segment_02.toolbar-md{
          min-height: unset !important;
     }
     .custom_segment_02{
          .segment-md .segment-button{
               width: 50% !important;
               padding: 10px !important;
               color: #000 !important;
               opacity: 0.6 !important;
          }
          .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
               background: unset !important;
               border-bottom: 2px solid black !important;
               width: 50% !important;
               opacity: 1 !important;
          }
     }
     .custom_navbar_02{
          margin-top: 75px;
          .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
               display: none !important;
          }
     }
}
