page-strains {
  .title {
    color: color($colors, 420-head-text);
    padding-top:10rem;
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
  }

  .logo-menu
  {
    overflow: hidden;
    border-radius: 50%;
    width:100%;
    height: 100%;
    padding: 5px;
    margin: 0px;
  }
}
