page-like {

  // /content css________________
  .title_bar{
    display: flex;
    align-items: center;
    padding: 6px 20px 3px;
    font-size: 20px;
    position: relative;
    img{
        width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
    }
    p{
        margin: 0;
        padding-top: 3px;
  font-size: 15px;
  color: #efa720;
    }
}

.content{
  position: relative;
  text-align: center;
  height: 100%;
  padding-bottom: 3px;
  .bottome_bar{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    padding-left: 13px;
    img{
      width: 20px;
      height: 20px;
    }
  }

}

.title_relative{
  position: relative;

  .title{
    position: absolute;
    background-color:#000;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    padding: 5px 7px;
    top: calc(-100% - 20px);
    left: 50%;
    transform: translateX(-50%);
    transition: all .5s;
    white-space: nowrap;
    border-radius: 3px;

  }
  ion-icon{
    font-size: 23px;
    color: #f0af3c;
    font-weight: 900;
    transition: all .5s;
  }
}
}

.middle_content {
  height: 100%;
  display: flex;
  align-items: center;
  background: #000000c4;
  padding: 10px;

  .content{
    height: auto !important;
    background: #fff;
  }
}
.popUpFooter{
  top:50%;
  transform: translateY(-50%);
}
.middle_content .content {
  border-radius: 10px;
  border: 2px solid #fff;
}

.middle_content .content .title_bar {
  background: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.middle_content .content .bottome_bar {
  background: #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}