page-comment {
	//_______________________header-title bar
	.title-white {
		background-color: white;
		color: #000;
		width: 100%;
		font-size: 21px;
		border-bottom: 1px solid gray;
		border-top: 1px solid gray;
		position: relative;
		height: 55px;
		p{
		    margin: 0;
		    margin-left: 42px;
		    margin-top: 16px;
		}
		ion-icon{
		    font-size: 27px;
		    font-weight: bold;
		}
		.back_icon{
		    position: absolute;
		    left: 10px;
		    top: 12px;
		}
		.check_icon{
		    color: #E09827;
		    position: absolute;
		    right: 15px;
		    top: 12px;
		}
	 }
	//______________________________

	//________________________ chat part
	.input-wrap {
		padding: 5px;
		padding-right: 20px;
		display: flex;
		align-items: center;
		height: 50px;
		textarea {
			flex: 1;
			border: 0;
			border-style: solid;
			// padding-top: 15px;
			resize: none ;
			color: black;
		}
		textarea::placeholder {
			color: gray !important;
			font-size: 16px;
		}
		img{
			width: 25px;
			height: 25px;
			margin: 0 10px;
		}
		.post_btn{
			margin-top: 10px;
			height: 25px;
		}
	}
	.chat_box{	
		// height: 65px;
		border: 1px solid #dad7d7;
		width: 100%;
		background-color: white;
		bottom: 0;
	}
	//_________________________________________
	.scroll-content{
		margin-top: 132px !important;
		margin-bottom: 108px !important;
	}

	//comment css________________________
	.main_comment{
		position: relative;
		padding: 20px 10px 0;
		color: #d2d1d0;
		a.u_name{
			text-decoration: none;
			margin-right: 15px;
		}
		img{
			position: absolute;
			width: 35px;
			height: 35px;
			top: 16px;
		}
		p{
			font-family: sans-serif;
			font-size: 15px;
			margin: 0;
			line-height: 1.5;
			margin-left: 40px;
		}
	}
	.s_comment{
		position: relative;
		padding: 15px 10px 0;
		color: #d2d1d0;
		a.u_name{
			text-decoration: none;
			margin-right: 5px;
		}
		img{
			position: absolute;
			width: 35px;
			height: 35px;
			top: 10px;
		}
		p{
			font-family: sans-serif;
			font-size: 15px;
			margin: 0;
			line-height: 1.5;
			margin-left: 40px;
			padding-right: 60px;
		}
		i{
			position: absolute;
			font-size: 14px;
			top: 20px;

		}
		p.likes{
			font-size: 12px;
			margin-left: 60px;
			font-weight: bold;
			margin-top: 7px;
			span{
				color: #868686;
				margin-left: 10px;
			}
		}
		.fa-edit{
			right: 45px;
		}
		.fa-trash{
			right: 31px;
		}
		.fa-heart{
			right: 13px;
			color: #E09827;
		}
	}
	.ss_comment{
		position: relative;
		padding: 5px 10px 0;
		color: #d2d1d0;
		a.u_name{
			text-decoration: none;
			margin-right: 5px;
		}
		img{
			position: absolute;
			width: 25px;
			height: 25px;
			top: 4px;
			left: 48px;
		}
		p{
			font-family: sans-serif;
			font-size: 15px;
			margin: 0;
			line-height: 1.5;
			margin-left: 68px;
			padding-right: 60px;
		}
		.toid{
			color: #A8D2DF;
		}
		i{
			position: absolute;
			font-size: 14px;
			top: 9px;
		}
		p.likes{
			font-size: 12px;
			margin-left: 85px;
			font-weight: bold;
			margin-top: 7px;
			span{
				color: #868686;
				margin-left: 10px;
			}
		}
		.fa-edit{
			right: 45px;
		}
		.fa-trash{
			right: 31px;
		}
		.fa-heart{
			right: 13px;
			color: #E09827;
		}
	}
	.post_div{
		border:2px solid #d2d1d0;
		border-radius: 2px;
		color: #d2d1d0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px;
		margin-left: 100px;
		font-size: 12px;
		p{
			font-family: unset;
			margin: 0;
			font-size: 12px;
			padding: 0;
		}
		.post_btn{
			width: 50px;
			height: 25px;
			color: #000;
			font-size: 14px;
			background: #EFA720;
		}
	}

}