page-profile {
  .block1_01 {
    display: flex;
    padding: 30px 0 0 17px;

    .avatar_img_01 {
      width: 80px;
      height: 80px;
      max-width: unset;
    }
    .content_01 {
      display: flex;
      margin-left: 23px;
    }
    .avatar_div_01 {
      background-image: url("../../assets/imgs/profile-bg.png");
      background-size: contain;
      background-repeat: no-repeat;
      padding: 10px;
    }
  }
  .content_01 {
    flex-wrap: wrap;
    .follow_btn_01 {
      background-color: #eca731;
      border-radius: 3px;
      color: white;
      padding: 7px 26px;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 700;
      margin-top: 12px;
    }
  }
  .content_01 .follow_01 {
    text-align: center;
    padding-right: 10px;
    h2 {
      font-weight: bolder;
      font-size: 20px;
      margin-top: 0;
      color: white;
      font-family: sans-serif !important;
    }
    p {
      font-size: 16px;
      color: #d2d1d0;
      font-family: sans-serif !important;
      margin-top: 8px;
    }
  }
  .content_01 .msg_div_01 {
    margin-left: 18px;
    text-align: center;
    img {
      width: 32px;
      height: 32px;
    }
    p {
      margin: 0;
      margin-top: -8px;
      font-size: 12px;
      font-family: sans-serif !important;
      font-weight: 600;
    }
  }

  .content_02 {
    padding: 30px 15px;
    h2 {
      color: #fff;
      font-size: 18px;
      font-weight: bolder;
      margin: 0;
      text-align: left;
      line-height: 1.4;
      margin-bottom: 5px;
    }
    h2 i{
      color: #efa720;
      margin-left: 10px;
      font-size: 21px;
    }
    h3 {
      font-size: 16px;
      color: #d2d1d0;
      margin: 0;
    }
    p {
      font-size: 16px;
      margin: 0;
      margin-top: 10px;
    }
    a {
      font-size: 16px;
      text-decoration: none;
      color: #efa720;
    }
    img {
      width: 15px;
      height: 15px;
      margin-left: 5px;
      object-fit: contain;
      margin-top: 2px;
    }
    .post_02{
      display: flex;
      justify-content: flex-start;
    }
  }
  .content_03 {
    padding: 0;
    ion-col {
      padding: 3.5px !important;
    }
    ion-col img {
      width: 100%;
      max-width: 100%;
      height: 100%;
    }
  }
  .footer_01 {
    width: 100%;
    height: 421px;
    background-image: url("../../assets/imgs/footer_bg.png");
    background-repeat: repeat-x;
    text-align: center;
    h2 {
      color: #fff;
      font-size: 30px;
      padding-top: 60px;
    }
    h2 span {
      color: #333;
    }
    .social_01 {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
    .social_01 img {
      // margin-top: 10px;
    }
    .social_01 i {
      color: white;
      text-align: center;
      font-size: 60px;
      margin-top: -2px;
    }
    .footer_menu_01 {
      margin-top: 130px;
    }
    .footer_menu_01 a {
      color: #fff;
      text-decoration: none;
      padding-right: 5px;
      font-size: 11px;
    }

    .footer_menu_01 span {
      color: black;
      padding-right: 5px;
      font-size: 11px;
    }
    .footer_copyright_01 {
      color: #fcd640;
      font-size: 11px;
      margin-top: 32px;
    }
  }
}
