ion-header {
  position: absolute;
  width: 100%;
  height: 77px;
  background: #F8F8F8;
}

ion-content { 
  position: relative !important;
}

.myview {
  background-color: black;
}

.pageBackground {
  background-color: black;
}

.item {
  background-color: transparent;
}

.menu-items {
  background-color: black;
  color: #fff !important;
}

.scroll-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.login-button {
  margin-left: 14px;
  margin-top: 15px;
  width: 150px;
}

.menu-lists {
  color: #fff;
  font-size: 21px;
  font-weight: lighter;
  padding: 10px 14px;
}

.add-circle {
  float: right;
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
}

.search {
  float: right;
  color: #fff;
  font-size: 20px;

}

.signuploginbtn {
  margin: 0 16px;
}

.numberCircle {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background: #d48416;
  color: #fff !important;
  text-align: center;
  font: 12px Arial, sans-serif;
  padding: 7px 0px 0;
  margin: 0 14px;
}

.profileimg {
  width: 83% !important;
  height: 100% !important;
  max-width: 100px !important;
  max-height: 100px !important;
  max-height: 100px !important;
}

.description {
  font-size: 17px !important;
}

.username {
  margin-left: 14px;
  font-size: 21px;
  font-weight: 100 !important;
  margin-top: 0;
}

.sidebarnav {
  padding: 4px;
  background-size: cover;
}

.chat-icon {
  color: #fff;
  font-size: 35px;
  position: absolute;
  bottom: 15px;
  margin: 0px -13px;
}

.logo-menu {
  height: 142px;
  width: 130px;
  margin: 37px -3px;
}

.follower {
  background-color: black;
}

.item-input {
  color: #fff;
}

.toolbar-title {
  color: #fff !important;
}

.bgprofile {
  background-color: black;
}

.chatlist {
  color: #fff !important;
}

.alert-danger {
  color: red;
  font-size: 14px;
  margin-left: 16px;
  margin-top: 3px;
  padding: 6px 0;
}

.row-border-bottom {
  border-bottom: 1px solid #8e8e8e;
}

.margin-top-20 {
  margin-top: 20px;
}

.custom-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff69;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-box {
  width: 90%;
  padding: 10px;
  background: #000000cc;
  border-radius: 4px;
  display: grid;
  position: relative;
}

.custom-modal-header {
  padding: 7px 0;
  text-align: center;
  color: #bef25c;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 1.9rem;
}

.custom-modal-body h3 {
  font-size: 1.8rem;
  color: #f2a335;
  font-weight: 500;
  font-family: sans-serif;
  border-bottom: 1px solid #f2a335;
}

.custom-modal-body span {
  color: #fff;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.custom-modal-body .taggedUsersContainer {
  color: #fff;
  font-size: 1.5rem;
  font-family: sans-serif;
  display: grid;
  line-height: 30px;
}

ion-icon.close-custom-modal {
  position: absolute;
  top: -11px;
  right: -8px;
  color: #dd8b19;
  font-size: 3.7rem;
}

@font-face {
  font-family: 'Myriad-Pro';
  src: url('../assets/fonts/MYRIADPRO-BOLD.OTF');
}

ion-label,
label,
a,
div,
ion-segment-button {
  font-family: Myriad-Pro !important;
}

ion-fab {
  position: absolute;

  button {
    float: right !important;

    i.fa {
      font-size: 15px;
    }
  }
}

.ion-text-start::first-letter {
  text-transform: capitalize !important;
}

.col {
  padding: 0 !important;
}
// menu 2 css_________________________________________________________________________
#menu2{
  .scroll-content{
    background-color: black;
    color: white;
    padding-top: 30px;
    font-size: 12px;
    max-height: 150%;
    input[type="checkbox"], input[type="radio"]{
      width: 15px;
      height: 15px;
      margin-right: 5px;
    }
    ion-item{
      min-height: 30px;
    }
    ion-label{
      color: #dedcdc;
      margin: 0;
      display: flex;
      align-items: center;
      label{
        font-size: 12px;
      }
    }
    .list-md{
      margin-bottom: 5px;
    }
    .list-md .item-block .item-inner {
      border-bottom: 1px solid #585858;
    }
  }
  .hr_div{
    margin: 0 21px; 
    clear: both;
    height: 4px;
    background: #EFA720;
    position: relative;
  }
  .tright{
    color: #d2d1d0;
    height: 100%;
    ion-item{
      min-height: 44px;
      color: #d2d1d0;
    }
    
    p:first-child{
      font-size: 16px;
      color: #e39912 !important;
      text-align: center;
      margin-bottom: 0;
    }
    .wait_for{
      text-align: center;
      p{
        font-size:12px;
        color: white !important;
        margin-top: 30px;
      }
      img{
        width: 50px;
        height: 50px;
        // margin-top: 30px;
      }
    }
    ion-item{
      margin-top: 5px;
      font-size: 13px;
    }
    .item-inner{
      border-bottom: 1px solid #585858;
    }
  }
  .dright{
    color: #d2d1d0;
    height: 100%;
    ion-item{
      font-size: 13px;
      min-height: 44px;
    }
    .weight_sel{
      // border: 1px solid white !important;
      color: #d2d1d0;
      font-size: 13px;
      height: 49px;
      ion-select{
        max-width: 100%;
      }
      .select-md{
        // padding-left: 0;
        padding-bottom: 3px;
        width: 100%;
        // margin-bottom: -9px;

      }
      .select-placeholder{
        color: #d2d1d0;
      }
      .select-icon .select-icon-inner{
        left: 11px;
      }

    }
    .no-lines .item-inner{
      border-bottom: none !important;
    }
    .item-input:last-child {
      border-bottom:none;
    }
    .item-input.item-input-has-focus:last-child, .item-input.input-has-focus:last-child{
      box-shadow: unset;
    }
  }
  
  
}
//_______________________________________________________________________________

// ______________________________custom alert css
.alertCustomCss {
  .alert-title{
    font-size: 26px;
    text-align: center;
    width: 163px;
    margin: 0 auto;
    line-height: 1;
  }
  .alert-sub-title {
    font-size: 15px;
    margin-top: 20px;
    line-height: 1.4;
    h4{
      display: inline;
      line-height: 1;
    }
  }
  .alert-head{
    padding:15px 15px 0;
  }
}
.showImgCss{
  .alert-wrapper{
    border: 2px solid #6d6d6d;
    background: black;
    color: #999;
    padding: 20px;
    max-width: 200px;
  }
  .alert-head{
    padding: 0;
  }
  .alert-message{
    color: #999;
    padding: 0;
    padding-top: 5px;
  }
  .alert-button-group{
    display: none;
  }
  .alert-sub-title{
    border:4px solid #a5a5a5;
    height: 206px;
  }
}
.showDoctorCss{
  .alert-wrapper{
    background-color: black;
    border: 2px solid white;
    max-width: 90%;
    width: 90%;
  
  }
  .alert-message, .alert-input-group{
    padding: 5px;
    // padding-bottom: 0;
  }
  .alert-head{
    display: none;
  }
  
  // /content css______________________________
  h5{
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 5px; 
    color: #efa720; 
  }
  p{
      font-size: 16px;
      margin: 0; 
      color: #D0CFCE;
      line-height: 1;
      padding-left: 5px;
  }
  h3{
      color: red;
      font-size: 26px;
      font-weight: bold;
      font-family: Verdana,Arial,sans-serif;
      margin: 0;
      span{
          color: #f6a358;
          font-family: Verdana,Arial,sans-serif;
          font-size: 14px;  
          font-weight: 400;
          padding-left: 20px;
      }
  }
  .label-md{
      margin: 0;
  }
  .open_h3{
      color: #93e612;
  }
  .content{
      position: relative;
      display: flex;
      // border: solid 1px #6f6f6f !important;
      padding: 5px;
      align-items: center;
      margin-bottom: 1px;
      
  }

  .avatar img{
      width: 45px;
      height: 45px;
  }
  .avatar{
      background-image: url("../../assets/imgs/profile-bg.png");
      background-size: contain;
      background-repeat: no-repeat;
      padding: 6px;
  }
  
  .tip_img{
      position: absolute;
      width: 25px;
      height: 25px;
      right: 5px;
      top: 5px;
  }
  .explain{
    margin-left: 10px;
  }
  .alert-button-group{
    padding: 0;
    display: none;
  }
}
.showCouponCss{
  .alert-wrapper{
    background-color: black;
    border: 2px solid white;
    max-width: 90%;
    width: 75%;
  }
  .alert-message{
    // min-height: 100%;
    max-height: unset;
  }
  .alert-message, .alert-input-group{
    padding: 15px;
    // padding-bottom: 0;
  }
  .alert-head{
    display: none;
  }
  
  // /content css______________________________
  .avatar_img{
    width: 60px;
    height: 60px;
  }

  h5{
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 30px; 
    color: #efa720; 
  }
  .desc{
    margin-bottom: 60px;
  }
  p{
      font-size: 15px;
      margin: 0; 
      color: #fff;
      line-height: 1;
      padding-left: 5px;
  }
  .label-md{
      margin: 0;
  }
  .content{
      position: relative;
      padding: 5px;
      padding-left: 2px;
      text-align: center;
      height: 100%;
  }
  
  .alert-button-group{
    padding: 0;
    display: none;
  }
  .bottom_logo{
    width: 120px;
    height: auto;
    padding-left: 6px;
  }
}
.showWeedgramCss{
  .alert-wrapper{
    background-color: black;
    border: 2px solid white;
    max-width: 90%;
    width: 75%;
  }
  .alert-message{
    max-height: unset;
  }
  .alert-message, .alert-input-group{
    padding: 0;
  }
  .alert-head{
    display: none;
  }
  
  .alert-button-group{
    padding: 0;
    display: none;
  }
  .label-md{
    margin: 0;
  }
  
  // /content css________________
  .title_bar{
		display: flex;
		align-items: center;
		padding: 6px 20px 3px;
		font-size: 20px;
		position: relative;
		img{
			width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 5px;
		}
		p{
			margin: 0;
			padding-top: 3px;
      font-size: 15px;
      color: #efa720;
		}
	}
  
  .content{
      position: relative;
      text-align: center;
      height: 100%;
      padding-bottom: 3px;
      .bottome_bar{
        display: flex;
        justify-content: space-around;
        padding: 5px;
        padding-left: 13px;
        img{
          width: 20px;
          height: 20px;
        }
      }

  }

  
}
//strain alert css
.strainAlertCss{
  .popover-content{
    color: #fff;
    background: black;
    border: 2px solid white;
    max-height: 45%;
    top: 342px !important;
  }
  ion-label{
    color: white;
  }
}
.categoryAlertCss{
  .popover-content{
    color: #fff;
    background: black;
    border: 2px solid white;
    max-height: 514px;
    left: 50% !important;
    transform: translateX(-50%) !important;

    top: 30px !important;
  }
  ion-label{
    color: white;
  }
}
.weightAlertCss{
  .popover-content{
    color: #fff;
    background: black;
    border: 2px solid white;
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: 200px;
    left: unset !important;
    right: 50px;
  }
  ion-label{
    color: white;
  }
}
 

// select strain modal css______________________________________________
.search_strain-modal{
  background-color: black;
  ion-navbar.toolbar{
    border-bottom: 1px solid gray;
  }
  .scroll-content{
      margin-top: 112px !important;
      background-color: black !important;
  }
  .toolbar-title{
    color: black !important;
  }
  ion-label{
    span{
      color: white !important;
    }
   
  }
  
  .ionic-selectable-item{
    ion-icon.ion-md-radio-button-off {
      color: white;
    }
  }
  .searchbar-md .searchbar-input{
    font-size: 17px !important;
    padding-top: 10px;
  }
  .bar-button-md{
    font-size: 20px;
  }
  .toolbar-title{
    padding-top: 4px;
  }
  .searchbar-search-icon{
    margin-top: 4px;
  }
}