auth-fab {
  // ion-fab[right] {
  //   right: 0px;
  //   background-color: rgba(0, 0, 0, 0.5);
  //   button.fab{
  //     display:inline-block;
  //     background: transparent;
  //   }
  // }

  right: 0px;
  position: fixed;
  z-index: 999;
}
