page-signup {
	img {
		height: 100%;
		margin: 15px auto;
		width: 80%;
	}
	button {
		background-image: linear-gradient(to bottom, #e8c451, #d48416);
	}
	.check_box {
		margin: 16px;
	}
	.aggrement {
		margin: 17px 0;
	}
	button {
		margin: 0 16px !important;
	}
}