<ion-header>
  <portal-header></portal-header>
</ion-header>
<ion-footer>
  <portal-footer></portal-footer>
</ion-footer>

<ion-content class="menu-items">
  <ion-fab right top style="right:0px;top:0px;background-color: rgba(0,0,0,0.5);">
    <button style="background-color: transparent;font-size: 1.2rem;padding:10px;padding-bottom: 5px;">
      <div style="color:white;">
        <i class="fa fa-sign-in" aria-hidden="true" style="color: rgb(239, 167, 32);"></i><br>
        Login
      </div>
    </button>
    <button style="background-color: transparent;font-size: 1.2rem;padding:10px;padding-bottom: 5px;">
      <div style="color:white;">
        <i class="fa fa-user" aria-hidden="true" style="color: rgb(239, 167, 32);"></i><br>
        Register
      </div>
    </button>
  </ion-fab>

    <div id="map"></div>
    <ion-card no-padding no-margin style="width: 100%" class="follower">
      <ion-row class="sidebarnav" no-padding justify-content-center align-items-center>
        <ion-col col-4 text-right>
          <ion-icon class="setting" name="settings"></ion-icon>
        </ion-col>
        <ion-col col-4 text-center>
          <ion-item>
            <ion-avatar>
                <div class="portal_logo_holder">
                    <img *ngIf="portalsProfileData.portal_logo!=''" src="https://www.420portal.com/img/{{portalsProfileData.portal_logo}}" class="profileimg">
                    <img *ngIf="portalsProfileData.portal_logo==''" src="https://www.420portal.com/img/uploaded/420portalspiral.png" class="profileimg">
                </div>
            </ion-avatar>
          </ion-item>
        </ion-col>
        <ion-col col-4 text-left>
          <ion-icon class="setting" name="add-circle"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row no-padding justify-content-center>
        <ion-item class="studio45dev">
          <p text-center class="portal-name">
            {{portalsProfileData.name}}
            <span *ngIf="openStatus==0 || openStatus=='0'" class="portal-is-closed">(Closed)</span>
            <span *ngIf="openStatus==1 || openStatus=='1'" class="portal-is-open">(Open)</span>
          </p>
          <p class="portal-description" text-center>{{portalsProfileData.description}}</p>
        </ion-item>
      </ion-row>
      <ion-row no-padding justify-content-center class="portal-address-holder margin-top-20">
        <span class="portal-address-holder">Address:</span>
        <span class="portal-address-text">{{portalsProfileData.address}}</span>
      </ion-row>

      <ion-row no-padding justify-content-center class="portal-address-holder margin-top-20">
        <span class="portal-address-holder">Phone:</span>
        <span class="portal-address-text">{{portalsProfileData.phone_no}}</span>
      </ion-row>

      <ion-row class="margin-top-20">
        <ion-col col-1>
        </ion-col>
        <ion-col col-3 text-right class="righthorizline">
          <p text-center class="studio45">{{portalsPostsData.length}}</p>
          <p text-center class="posts">Posts</p>
        </ion-col>
        <ion-col col-4 text-center>
          <p text-center class="studio45">{{portalsProfileData.company_followers}}</p>
          <p text-center class="posts">Followers</p>
        </ion-col>
        <ion-col col-3 text-left class="lefthorizline">
          <p text-center class="studio45"> <img src="{{markerIconurl}}" class="storeIconImg"></p>
          <p text-center class="posts">{{storeName}}</p>
        </ion-col>
        <ion-col col-1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item></ion-item>
      </ion-row>
    </ion-card>

    <ion-grid padding>
      <div class="portal_image_container">
        <div *ngFor="let portalImage of portalsPostsData">
          <ion-row>
            <ion-col *ngIf="portalImage.filename=='' && portalImage.media_type=='Image'">
              <img src="https://www.420portal.com/img/uploaded/420portalspiral.png" />
            </ion-col>
            <ion-col *ngIf="portalImage.filename!='' && portalImage.media_type=='Image'">
              <img src="https://www.420portal.com/img/{{portalImage.filename}}" />
            </ion-col>
            <ion-col *ngIf="portalImage.filename!='' && portalImage.media_type=='Video'">
                <img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/591c8a010428634b4a33375c/images/5ab4866b2c7d3a56d8873f4c/file-MrylO8jADD.png" />
              </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-grid>
</ion-content>
